accelerate==1.11.0
addict==2.4.0
aiodns @ file:///C:/miniconda3/conda-bld/aiodns_1762185050248/work
aiofile==3.9.0
aiohappyeyeballs @ file:///C:/b/abs_f806x82huz/croot/aiohappyeyeballs_1755769855628/work
aiohttp @ file:///C:/Users/task_176781308340527/croot/aiohttp_1767813782729/work
aiosignal @ file:///C:/b/abs_84ej696pud/croot/aiosignal_1755870823775/work
annotated-doc==0.0.4
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745107938/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622431960/work
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
attrs @ file:///C:/miniconda3/conda-bld/attrs_1762356899263/work
Authlib==1.6.10
babel==2.17.0
beartype==0.22.9
beautifulsoup4==4.14.2
bleach==6.3.0
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938072950/work
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961399696/work
cachetools==7.0.5
caio==0.9.25
certifi==2025.11.12
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792995/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744960410/work
click==8.3.1
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm==0.2.3
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
cyclopts==4.10.2
datasets @ file:///C:/Users/task_176649787777418/croot/datasets_1766497999370/work
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dill @ file:///C:/miniconda3/conda-bld/dill_1760096808191/work
distro @ file:///C:/b/abs_71xr36ua5r/croot/distro_1714488282676/work
dnspython==2.8.0
docstring_parser==0.18.0
docutils==0.22.4
elastic-transport==9.2.1
elasticsearch==9.3.0
email-validator==2.3.0
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.128.0
fastapi-cli==0.0.20
fastapi-cloud-cli==0.10.1
fastar==0.8.0
fastjsonschema==2.21.2
fastmcp==3.2.4
filelock==3.20.0
fonttools==4.60.1
fqdn==1.5.1
frozenlist @ file:///C:/miniconda3/conda-bld/frozenlist_1761062033683/work
fsspec @ file:///C:/miniconda3/conda-bld/fsspec_1762432510351/work
gensim==4.4.0
graphviz==0.21
griffe==1.15.0
griffelib==2.0.2
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
hf-xet @ file:///C:/Users/task_176967424526486/croot/hf-xet_1769674434780/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools==0.7.1
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
httpx-sse==0.4.3
huggingface_hub @ file:///C:/b/abs_88wkkpwfbe/croot/huggingface_hub_1755770863256/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912000545/work
importlib_metadata==8.7.1
interchange==2021.0.4
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.4.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.6
jiter @ file:///C:/miniconda3/conda-bld/jiter_1762897295748/work
joblib==1.5.2
json5==0.12.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-path==0.4.5
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.9.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
keyring==25.7.0
kiwisolver==1.4.9
langchain==1.2.12
langchain-core==1.2.20
langchain-openai==1.1.11
langchain-text-splitters==1.1.1
langgraph==1.1.3
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.12
langsmith==0.7.20
lark==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.9.2
matplotlib-inline==0.2.1
mcp==1.26.0
mdurl==0.1.2
mistune==3.1.4
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592917950/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593166070/work
modelscope==1.32.0
monotonic==1.6
more-itertools==11.0.2
mpmath==1.3.0
multidict @ file:///C:/miniconda3/conda-bld/multidict_1760566886694/work
multiprocess @ file:///C:/Users/task_176614428680920/croot/multiprocess_1766144408893/work
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.5
notebook==7.4.7
notebook_shim==0.2.4
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165727877/work
numpy==1.26.4
openai==2.29.0
openai-agents==0.14.1
openapi-pydantic==0.5.1
opentelemetry-api==1.41.0
orjson==3.11.5
ormsgpack==1.12.2
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049137378/work
pandas==2.2.2
pandocfilters==1.5.1
pansi==2024.11.0
parso==0.8.5
pathable==0.5.0
pdfminer.six==20251230
pdfplumber==0.11.9
peft==0.15.0
pillow==12.0.0
platformdirs==4.5.0
prometheus_client==0.23.1
prompt_toolkit==3.0.52
propcache @ file:///C:/miniconda3/conda-bld/propcache_1765457318192/work
psutil==7.1.3
pure_eval==0.2.3
py-key-value-aio==0.4.4
py2neo==2021.2.4
pyarrow @ file:///C:/miniconda3/conda-bld/pyarrow_1764939507180/work/python
pycares @ file:///C:/b/abs_b36fcwt8zj/croot/pycares_1756217945340/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496054990/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083587254/work
pydantic-extra-types==2.11.0
pydantic-settings==2.12.0
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009796752/work
pygame==2.6.1
Pygments==2.19.2
PyJWT @ file:///C:/miniconda3/conda-bld/pyjwt_1764332272576/work
PyMuPDF==1.27.2.2
pyparsing==3.2.5
pypdfium2==5.5.0
pyperclip==1.11.0
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030940/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv==1.2.1
python-json-logger==4.0.0
python-multipart==0.0.21
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
pywin32==311
pywin32-ctypes==0.2.3
pywinpty==3.0.2
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq==27.1.0
rank-bm25==0.2.2
referencing==0.37.0
regex==2025.11.3
requests @ file:///C:/miniconda3/conda-bld/requests_1762359612354/work
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rich-rst==1.3.2
rich-toolkit==0.17.1
rignore==0.7.6
rpds-py==0.29.0
safetensors==0.6.2
scikit-learn==1.5.1
scipy==1.16.3
Send2Trash==1.8.3
sentence-transformers==5.2.3
sentry-sdk==2.49.0
setuptools==80.9.0
shellingham==1.5.4
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
smart_open==7.5.0
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329208029/work
soupsieve==2.8
sse-starlette==3.3.3
stack-data==0.6.3
starlette==0.50.0
sympy==1.13.1
tenacity==9.1.4
terminado==0.18.1
threadpoolctl==3.6.0
tiktoken==0.12.0
tinycss2==1.4.0
tokenizers==0.21.4
torch==2.6.0
tornado==6.5.2
tqdm @ file:///C:/miniconda3/conda-bld/tqdm_1762863369279/work
traitlets==5.14.3
transformers==4.55.0
typer==0.21.1
types-requests==2.32.4.20260107
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614186985/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata==2025.2
ujson==5.11.0
uncalled-for==0.3.1
uri-template==1.3.0
urllib3==2.5.0
uuid_utils==0.14.1
uvicorn==0.40.0
watchfiles==1.1.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
websockets==15.0.1
wheel==0.45.1
widgetsnbextension==4.0.15
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278813/work
winloop @ file:///C:/miniconda3/conda-bld/winloop_1762178041347/work
wrapt==2.0.1
xxhash @ file:///C:/b/abs_1aigrqyxpu/croot/python-xxhash_1737042790218/work
yarl @ file:///C:/miniconda3/conda-bld/yarl_1762250161675/work
zipp==3.23.1
zstandard==0.25.0
